.card {
    width: 100%;
    border: 2px solid var(--accentSecondary);
    padding: 10px;
    border-radius: 6px;
    margin: 5px;
    cursor: grab;
    background-color: var(--background);
  }

  .editWrapper{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .cardTitle,
  .cardTitleInput {
    display: block;
    width: 246px;
    font-size: 16px;
    font-weight: 700;
    padding: 6px;
  }

  .cardDescription,
  .cardDescriptionInput {
    display: block;
    width: 246px;
    color: var(--darkText);
    padding: 6px;
  }

  .cardTitleInput,
  .cardDescriptionInput {
    height: 33px;
  }

  .bottomWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 6px;
  }

  .iconWrapper {
    display: flex;
    height: 22px;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 8px;
  }

  .calendar {
    width: 246px !important;
    border: 2px solid var(--accentSecondary) !important;
    border-radius: 6px;
  }

  .cardDate {
    font-size: 12px;
    font-weight: 600;
    color: var(--disabled);
  }

  .editIcon {
    cursor: default;
    path {
      stroke: var(--dark);
    }
  }

  .deleteIcon {
    cursor: default;
    path {
      stroke: var(--dark);
    }
  }

  .crossIcon {
    cursor: default;
    width: 16px;
    
    path {
      fill: var(--errorColor);
    }
  }

  .okIcon {
    cursor: default;
    stroke: var(--successColor);
  }