.card {
    width: 100%;
    border: 2px solid var(--accentSecondary);
    padding: 10px;
    border-radius: 6px;
    margin: 5px;
    cursor: grab;
    background-color: var(--background);
  }

  .cardText,
  .cardTextInput {
    display: block;
    width: 246px;
    font-size: 16px;
    font-weight: 700;
    padding: 6px;
  }

  .cardDescription,
  .cardDescriptionInput {
    display: block;
    width: 246px;
    color: var(--darkText);
    padding: 6px;
  }

  .cardTextInput,
  .cardDescriptionInput {
    height: 33px;
  }

  .iconWrapper {
    display: flex;
    height: 22px;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 8px;
  }

  .editIcon {
    cursor: default;
    path {
      stroke: var(--dark);
    }
  }

  .deleteIcon {
    cursor: default;
    path {
      stroke: var(--dark);
    }
  }

  .crossIcon {
    cursor: default;
    width: 16px;
    
    path {
      fill: var(--errorColor);
    }
  }

  .okIcon {
    cursor: default;
    stroke: var(--successColor);
  }