.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.createWrapper {
  display: flex;
  margin-top: 16px;
  gap: 8px;
}

.searchPanel {
  display: flex;
padding: 10px;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--text);
  border-radius: 5px;
  margin-right: 10px;
  width: 200px;
  transition: border 0.3s ease;

  &:focus {
    outline: none;
    border-color: var(--accent);
  }
}

.btn,
.btnCreate,
.btnEdit,
.btnDelete,
.btnDisable {
  padding: 10px 15px;
  font-size: 16px;
  background-color: var(--accent);
  transition: background-color 0.3s ease;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--accentThird);
  }
}

.btnDisable {
  color: var(--disabled);
  background-color: var(--background);
  &:hover {
    background-color: var(--input);
  }
}

.btnCreate,
.btnEdit,
.btnDelete {
  background-color: var(--primary);
  color: var(--darkText);
  border: 1px solid var(--input);

  &:hover {
    background-color: var(--background);
  }
}

.deleteText {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 40px;
  color: var(--errorColor);
}

.iconWrapper {
  display: flex;
  gap: 8px;
  margin-left: 8px;
  align-items: center;
}

.crossIcon {
  display: flex;
  cursor: default;
  width: 16px;
  
  path {
    fill: var(--errorColor);
  }
}

.okIcon {
  display: flex;
  cursor: default;
  stroke: var(--successColor);
}